:root {
	/* COLORS */
	/* Primary */
	--clr-primary: #52ffa8;
	--clr-light: #cee3e9;

	/* Secondary */
	--clr-gray: #4e5d73;
	--clr-dark-gray: #323a49;
	--clr-blue: #1f2632;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body,
body *,
body *::after,
body *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 2.4rem;
	font-family: 'Manrope', sans-serif;
	font-weight: 800;
	color: var(--clr-light);
	background-color: var(--clr-blue);
}
